@import "@/scss/_variables.scss";
@import "@/scss/_mixins.scss";

:root {
  --primary: #48bab4;
  --gray: rgb(107 114 128);
}


*, *:before, *:after {
  box-sizing: border-box;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  background-color: var(--gray);
  z-index: 2022;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.animation {
  position: relative;
  width: 60px;
  height: 60px;

  @include breakpoint("lg") {
    width: 96px;
    height: 96px;
  }
  @include breakpoint("lg") {
    width: 128px;
    height: 128px;
  }

  @include breakpoint("xl") {
    width: 160px;
    height: 160px;
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 36px;
  width: 100%;

  @include breakpoint("lg") {
    max-height: 48px;
  }
  @include breakpoint("xl") {
    max-height: 64px;
  }
}

.circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  &:before {
    content: '';
    display: block;
    margin: 0 auto;
    background-color: var(--primary);
    border-radius: 100%;
    -webkit-animation: fadeDelay 1.2s infinite ease-in-out both;
    animation: fadeDelay 1.2s infinite ease-in-out both;

    width: 5px;
    height: 5px;

    @include breakpoint("lg") {
      width: 10px;
      height: 10px;
    }

    @include breakpoint("xl") {
      width: 15px;
      height: 15px;
    }
  }

  &-2 {
    @include setTransform(rotate(30deg));

    &:before {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }
  }

  &-3 {
    @include setTransform(rotate(60deg));

    &:before {
      -webkit-animation-delay: -1s;
      animation-delay: -1s;
    }
  }

  &-4 {
    @include setTransform(rotate(90deg));

    &:before {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }
  }

  &-5 {
    @include setTransform(rotate(120deg));

    &:before {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }
  }

  &-6 {
    @include setTransform(rotate(150deg));

    &:before {
      -webkit-animation-delay: -0.7s;
      animation-delay: -0.7s;
    }
  }

  &-7 {
    @include setTransform(rotate(180deg));

    &:before {
      -webkit-animation-delay: -0.6s;
      animation-delay: -0.6s;
    }
  }

  &-8 {
    @include setTransform(rotate(210deg));

    &:before {
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
    }
  }

  &-9 {
    @include setTransform(rotate(240deg));

    &:before {
      -webkit-animation-delay: -0.4s;
      animation-delay: -0.4s;
    }
  }

  &-10 {
    @include setTransform(rotate(270deg));

    &:before {
      -webkit-animation-delay: -0.3s;
      animation-delay: -0.3s;
    }
  }

  &-11 {
    @include setTransform(rotate(300deg));

    &:before {
      -webkit-animation-delay: -0.2s;
      animation-delay: -0.2s;
    }
  }

  &-12 {
    @include setTransform(rotate(330deg));

    &:before {
      -webkit-animation-delay: -0.1s;
      animation-delay: -0.1s;
    }
  }
}

.description {
  font-weight: 500;
  color: var(--primary);
  max-width: $br_sm;
  font-size: 12px;

  @include breakpoint("lg") {
    font-size: 13px;
  }
  @include breakpoint("xl") {
    font-size: 15px;
  }
}

@-webkit-keyframes fadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes fadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
